.container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* width: 100%; */
  /* max-width: calc(100vw - 300px); */
  padding: 20px;
  /* margin: 0 auto; */
  /* background-color: aqua; */
}

.main-container {
  background-color: rgb(255, 247, 240);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
}

h2 {
  font-size: 24px;
  /* background-color: blue; */
  margin: 0;
  /* padding: 10px; */
  /* margin-top: 30px; */
  text-align: center;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 12px;
  text-align: left;
}

th {
  background-color: rgb(244, 195, 120);
}

button {
  padding: 10px 15px;
  background-color: #e05b02;
  color: black;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

/* button:hover {
  background-color: #b24700;
}
.high-priority {
  background-color: rgb(232, 0, 0);
}

.medium-priority {
  background-color: rgb(255, 192, 75);
}

.low-priority {
  background-color: rgb(2, 166, 2);
}
 */

.logout, .delete{
  background-color: red;
}
.logout:hover, .delete:hover{
  background-color: rgb(201, 2, 2);
}

.create-btn{
  background-color: rgb(0, 177, 0);

  &:hover{
    background-color: green;
  }
}

.download{
  /* background-color: rgb(87, 87, 245); */
  background-color: lightpink;
  &:hover{
    /* background-color: rgb(68, 68, 252); */
    background-color: rgb(252, 136, 153);
  }
}

.edit{
  background-color: rgb(255, 196, 0);
  &:hover{
    background-color: rgb(230, 176, 1);
  }
}

.btn-div{
  text-align: center;
}