.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    /* height: 100vh; */
    padding: 20px;
  }
  
  .incident-form {
    background-color: rgb(244, 134, 44);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
    /* background-color: blue; */
    text-align: center;
    /* padding: 10px; */
  }
  
  .main {
    display: flex;
    gap: 10px;
    margin: 0;
    /* background-color: red; */
  }
  
  .left {
    flex: 1;
  }
  .right {
    flex: 1;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 20px;
  }
  
  label {
    font-size: medium;
    font-weight: bold;
  }
  
  input,
  textarea,
  select {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
  }
  
  textarea {
    height: 170px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  button {
    padding: 15px 25px;
    background-color: #e05b02;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    margin: auto;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #b24700;
  }
  
  .notification {
    position: fixed;
    top: 20px;
    left: 58%;
    transform: translateX(-50%);
    background-color: rgba(0, 128, 0, 0.9);
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform ease 0.5s;
    z-index: 1000;
  }
  