.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* Dialog Box */
.dialog-box {
  background-color: #e3f2fd; /* Light blue */
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}
 
/* Edit Form */
.edit-form {
  background-color: #f0f8ff; /* Very light blue */
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}
 
.edit-form label {
  display: block;
  color: #0d47a1; /* Dark blue text */
  margin: 10px 0 5px;
}
 
/* Input and Textarea Fields */
.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #b0c4de; /* Light blue border */
  background-color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  color: black;
}
 
.form-group {
  display: flex;
  /* align-items: center; */
}
 
.form-group label {
  flex: 1;
  color: black;
  text-align: left;
}
 
.form-group input,
.form-group textarea {
  flex: 2;
  padding: 10px;
  color: black;
}
 
.form-group textarea {
  height: 100px;
  resize: none;
}
 
/* Button Container */
.btn-div {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
 
/* Buttons */
.btn-div button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}
 
/* Cancel Button */
.cancel {
  background-color: #e41313; /* Soft red for cancel */
}
 
.cancel:hover {
  background-color: #b51313; /* Darker red on hover */
}
 
/* Submit Button */
.submit {
  background-color: #2296f5; /* Medium blue for submit */
}
 
.submit:hover {
  background-color: #1d80d6; /* Darker blue on hover */
}