.login-container {
   
    width: 350px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
 
  h1 {
    text-align: center;
    color: #333;
  }
 
  form div {
    margin-bottom: 15px;
    margin-top: 20px;
  }
 
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
 
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
 
  input:focus {
    border-color: #007bff;
    outline: none;
  }
 
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
 
  button:hover {
    background-color: #0056b3;
  }
 
.success-message {
    margin-top: 15px;
    color: #28a745;
    font-weight: bold;
    text-align: center;
  }